/* Styles sheet for Rockland Construction */

body,
header,
nav,
main,
footer,
h1,
div,
img,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body {
    background-image: url(../assets/backround-image.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* Style rules for mobile viewport */

/* Style rule for header */
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: black;
    right: auto;
    left: auto;
}

header img {
    height: 140px;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* Style rules for navigation area */
nav {
    background-color: black;
    width: 100%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.5em;
    font-family: "Francois One", sans-serif;
    border-top: 1px solid #fff;
}

nav li:first-child {
    border-top: none;
}

nav li a {
    display: block;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Style rules for main content */
main {
    clear: both;
    padding-top: 5%;
    font-size: 1.15em;
    font-family: "Roboto Slab", serif;
}

main table {
    margin-right: auto;
    margin-left: auto;
}

main table caption {
    font-size: 1.15em;
    font-family: "Roboto Slab", serif;
    background-color: #fff;
}

table tr th {
    font-family: "Roboto Slab", serif;
    font-size: 0.75em;
    background-color: #fff;
}

table tr td {
    background-color: #fff;
}

table td a img {
    width: 100px;
    height: 75px;
}

.testimonials {
    background-color: #fff;
    text-align: center;
    margin: 10px auto;
    width: 100%;
}

.testimonials dl dt {
    padding-bottom: 13px;
}

.testimonials dl dd {
    padding-bottom: 13px;
}

.services {
    width: 95%;
    padding: 1%;
    margin: 1% auto;
    list-style: none;
    color: #FFFFFF;
    background-color: #000000;
}

main ul {
    list-style-type: none;
    float: left;
}

.about {
    background-color: #fff;
    margin: 5%;
    padding: 2%;
}

.contact {
    margin: 1% auto;
    width: 60%;
    text-align: center;
}

.map {
    border: 2px solid #000;
    width: 60%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    padding-top: 15px;
    margin-top: 2%;
}

.map h2 {
    text-align: center;
}

/* Style rules for form elements */
    
form {
    width: 90%;
    margin: 2% auto;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(0,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(0,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(0,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(0,0,0,1.00) 100%);
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    }

fieldset {
	margin: 1% auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

fieldset input {
	margin-bottom: 1%;
	display: block;
}

fieldset legend {
	font-size: 1.25em;
	font-weight: bold;
}

textarea {
    width: 100%;
}

.button {
    border: none;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4%;
    display: block;
    padding: 2%;
    background-color: black;
    font-size: 1.25em;
    border-radius: 10px;
    color: #fff;
}

/* Style rules for footer content */
footer {
    margin-top: 600px;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 768px),
print {

    /* Tablet Viewport: Style rule for header */
    header {
    width: 100%;
    position: static;
    text-align: center;
    top: 0;
    background-color: black;
    padding-top: 20px;
    }
    
    header img {
        height: 140px;
        text-align: center;
    }

    /* Tablet Viewport: Style rules for nav area */
    nav {
        padding: 1%;
        background-color: black;
        width: 100%;
        margin: auto;
    }

    nav li {
        border-top: none;
        display: inline-block;
        border-right: 1px solid #fff;
    }

    nav li:last-child {
        border-right: none;
    }

    nav li a {
        padding: 0.1em 0.75em;
    }

    /* Tablet Viewport: Style rules for main content area */
    main ul {
        margin: 0 auto;
    }

    table th {
        width: 300px;
        height: 200px;
    }

    table td a img {
        height: 200px;
        width: 300px;
        display: block;
    }

    .map {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    padding-top: 15px;
    margin-top: 2%;
    }

}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1024px),
print {

    nav li a:hover {
        color: #000;
        background-color: #fff;
    }

    /* Desktop Viewport: Style Rules for main content */
    .testimonials {
        background-color: #fff;
        text-align: center;
        margin: 10px auto;
        width: 80%;
    }

    form {
        width: 60%;
        margin: 2% auto;
        background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(0,0,0,1.00) 100%);
        background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(0,0,0,1.00) 100%);
        background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(0,0,0,1.00) 100%);
        background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(0,0,0,1.00) 100%);
        padding-top: 1%;
        padding-right: 1%;
        padding-bottom: 1%;
        padding-left: 1%;
    }

}

/* Media Query for Print */
@media print {

    body {
        background-color: #fff;
        color: #000;
    }

}
